# Core packages
numpy
pandas
scikit-learn
scipy
joblib
torch

# Plotting and visualization
matplotlib
seaborn

# MAS framework
langchain
langchain-community
transformers

# Utilities
jupyter
python-dotenv
pyagrum
cairosvg
